table {
  width: 100%;
  thead {
    font-size: 1.4rem;
    line-height: 1.7rem;
    text-align: left;
    color: $alternativeTextColor;
    tr {
      th {
        padding-bottom: 2.5rem;
        padding-right: 1rem;
        &:first-child {
          padding-left: 1.5rem;
        }

        &:last-child {
          padding-right: 1.5rem;
        }
      }
    }
  }
  tbody {
    color: $mainTextColor;
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: 500;
    text-align: left;
    .row-divider {
      height: 0.5rem;
    }
    tr {
      height: 4.5rem;
      td {
        background-color: $tableBackgroundColor;
        line-height: 1.8rem;
        padding-right: 1rem;
        vertical-align: middle;
        white-space: nowrap;
        max-width: 20rem;
        &:first-child {
          padding-left: 1.5rem;
          border-radius: 1rem 0 0 1rem;
        }
        &:last-child {
          padding-right: 1.5rem;
          border-radius: 0 1rem 1rem 0;
        }
      }
    }
  }
}
