:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .content {
    display: flex;

    .wrap-login {
      margin: auto;
      width: 100%;
      max-width: 42rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .logo {
        margin-bottom: 7.6rem;
        height: 14.3rem;
        display: flex;
        justify-content: center;
      }

      .form-login {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .wrap-button {
          button {
            height: 7rem;
            min-width: 20rem;
            max-width: 38rem;
          }
          margin-top: 1.8rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
    }
  }
}
.synchronization-status {
  position: absolute;
  bottom: 3rem;
  left: 3rem;
}
