@import "../../assets/scss/base/variables";
:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 25rem;
  padding: 1.8rem 0 2rem 0;
  max-width: 25rem;
}
.red-text {
  color: #ff0000 !important;
}
.animated {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.2rem;
  &::ng-deep svg {
    width: 2rem;
    height: 2rem;
    path,
    circle,
    polygon {
      fill: #1f8feb;
    }
  }
}
.sidebar-header {
  min-height: 7rem;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2.3rem;
  img {
    height: 6.7rem;
    width: 19.6rem;
  }
}
.wallet-type {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.7rem;
  height: 100%;
  background-color: transparent;
  transition: all ease 0.3s;
  overflow: hidden;
  &:hover {
    width: 2.8rem;
  }
  .content {
    height: 100%;
    padding: 0.7rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
    transition: all ease 0.3s;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    &.auditable {
      background-color: #5cda9d;
    }
    &.watch-only,
    &.auditable-watch-only {
      background-color: #8686ff;
    }
  }
}
.cdk-drag-placeholder {
  opacity: 0.3;
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.cdk-drag-preview.sidebar-account {
  color: $accountMainTextColor;
  background: $accountActiveBackgroundColor;
  box-shadow: $accountDragBoxShadow;
  &.account-price {
    .price {
      color: $tooltipTextColor;
    }
    .price-percent {
      color: $greenTextColor;
    }
  }
}

.sidebar-account {
  border-radius: 1.5rem;
  margin-bottom: 1.5rem;
  max-width: 23rem;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 1.3rem 1rem;
  .close-wallet-button {
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    padding: 0;
    height: auto;
    background: transparent;
    border: none;
    .icon {
      width: 1.6rem;
      height: 1.6rem;
      display: block;
      content: "";
      background: center / contain no-repeat url("../../assets/icons/close-wallet.svg");
    }
  }

  .sidebar-account-row:last-child {
    margin-bottom: 0;
  }
  .sidebar-account-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    &.account-alias {
      justify-content: flex-start;
      font-size: 1.4rem;

      .name {
        position: relative;
        margin-right: 1rem;
        display: flex;
        align-items: center;
        flex-shrink: 1;
        line-height: 1.7rem;
        span {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
        .indicator {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          width: 2rem;
          height: 2rem;
          margin-right: 0.8rem;
          font-size: 1.4rem;
          line-height: 1rem;
        }
      }
    }
    &.account-title-balance {
      .balance {
        font-size: 2rem;
        line-height: 2.4rem;
        font-weight: 400;
        white-space: nowrap;
      }
    }
    &.account-price {
      font-size: 1.4rem;
      line-height: 1.7rem;
      display: flex;
      justify-content: flex-start;
      .price-percent {
        margin-left: 0.7rem;
      }
    }

    &.account-staking {
      .text {
        line-height: 1.9rem;
        font-size: 1.6rem;
      }
    }

    &.account-synchronization {
      display: flex;
      align-items: center;
      width: 100%;
      .progress-bar {
        border-radius: 1rem;
        flex: 1 0 auto;
        height: 0.4rem;
        overflow: hidden;
        .fill {
          height: 100%;
        }
      }
      .progress-percent {
        flex: 0 0 auto;
        font-size: 1.4rem;
        line-height: 1.7rem;
        padding-left: 1rem;
      }
    }
  }
  &:focus {
    outline: none;
  }
}
.sidebar-accounts {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  .sidebar-accounts-list {
    padding: 0 0.9rem;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow-y: auto;
    // .sidebar-account {
    //   margin-bottom: 1.5rem;
    //   border-radius: 1.5rem;
    //   max-width: 23rem;
    //   position: relative;
    //   display: flex;
    //   flex-direction: column;
    //   flex-shrink: 0;
    //   padding: 1.3rem 1rem;
    //   .close-wallet-button {
    //     position: absolute;
    //     top: 1.2rem;
    //     right: 1.2rem;
    //     padding: 0;
    //     height: auto;
    //     background: transparent;
    //     border: none;
    //     .icon {
    //       width: 1.6rem;
    //       height: 1.6rem;
    //       display: block;
    //       content: "";
    //       background: center / contain no-repeat url("../../assets/icons/close-wallet.svg");
    //     }
    //   }

    //   .sidebar-account-row:last-child {
    //     margin-bottom: 0;
    //   }
    //   .sidebar-account-row {
    //     display: flex;
    //     align-items: center;
    //     justify-content: space-between;
    //     margin-bottom: 1rem;

    //     &.account-alias {
    //       justify-content: flex-start;
    //       font-size: 1.4rem;

    //       .name {
    //         position: relative;
    //         margin-right: 1rem;
    //         display: flex;
    //         align-items: center;
    //         flex-shrink: 1;
    //         line-height: 1.7rem;
    //         span {
    //           text-overflow: ellipsis;
    //           overflow: hidden;
    //           white-space: nowrap;
    //         }
    //         .indicator {
    //           display: flex;
    //           align-items: center;
    //           justify-content: center;
    //           border-radius: 50%;
    //           width: 2rem;
    //           height: 2rem;
    //           margin-right: 0.8rem;
    //           font-size: 1.4rem;
    //           line-height: 1rem;
    //         }
    //       }
    //     }
    //     &.account-title-balance {
    //       .balance {
    //         font-size: 2rem;
    //         line-height: 2.4rem;
    //         font-weight: 400;
    //         white-space: nowrap;
    //       }
    //     }
    //     &.account-price {
    //       font-size: 1.4rem;
    //       line-height: 1.7rem;

    //       display: flex;
    //       justify-content: flex-start;
    //       .price-percent {
    //         margin-left: 0.7rem;
    //       }
    //     }

    //     &.account-staking {
    //       .text {
    //         line-height: 1.9rem;
    //         font-size: 1.6rem;
    //       }
    //     }

    //     &.account-synchronization {
    //       display: flex;
    //       align-items: center;
    //       width: 100%;
    //       .progress-bar {
    //         border-radius: 1rem;
    //         flex: 1 0 auto;
    //         height: 0.4rem;
    //         overflow: hidden;
    //         .fill {
    //           height: 100%;
    //         }
    //       }
    //       .progress-percent {
    //         flex: 0 0 auto;
    //         font-size: 1.4rem;
    //         line-height: 1.7rem;
    //         padding-left: 1rem;
    //       }
    //     }
    //   }
    //   &:focus {
    //     outline: none;
    //   }
    // }
  }
}
.sidebar-settings {
  margin-left: 3rem;
  flex: 0 0 auto;
  .wrap-button {
    transition: all 0.25s ease;
    margin-top: 1.5rem;
    button {
      transition: all 0.25s ease;
      display: flex;
      align-items: center;
      background: transparent;
      border: none;
      font-size: 2rem;
      font-weight: 400;
      line-height: 2.4rem;
      outline: none;
      &:hover {
        span {
          transition: margin 0.25s ease;
          margin-left: 0.5rem;
        }
      }
      span {
        transition: margin 0.25s ease;
      }
      .add-wallet-div {
        max-width: 1.2rem;
        max-height: 1.2rem;
      }
      &.disabled {
        cursor: url(../../assets/icons/not-allowed.svg) not-allowed;
      }
      .icon {
        margin-right: 0.7rem;
        width: 2rem;
        height: 2rem;
        transition: all 0.25s ease;
        &.add-wallet {
          width: 1.4rem;
          height: 1.4rem;
          background: center / contain no-repeat url(../../assets/icons/addnew.svg);
        }
        &.contacts {
          background: center / contain no-repeat url(../../assets/icons/contacts.svg);
        }
        &.settings {
          background: center / contain no-repeat url(../../assets/icons/settings-gear.svg);
        }
        &.logout {
          background: none;
          background: center / contain no-repeat url(../../assets/icons/logout.png);
        }
      }
    }
  }
}
.synchronization-status {
  margin: 2rem 3rem 2rem 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 0 0 7rem;
  font-size: 1.4rem;
  .status-container {
    padding-bottom: 1.5rem;
    position: relative;
    flex-grow: 1;
    text-align: left;
    .offline,
    .online {
      bottom: -3rem;
      position: relative;
      display: block;
      line-height: 1.2rem;
      padding-left: 2.2rem;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        width: 1.2rem;
        height: 1.2rem;
      }
    }
    .progress-bar-container {
      height: 0.8rem;
      width: 100%;
      .syncing {
        display: flex;
        .progress-bar {
          border-radius: 1rem;
          flex: 1 0 auto;
          overflow: hidden;
          .fill {
            border-radius: 1rem;
            height: 100%;
          }
        }
        .progress-percent {
          flex: 0 0 auto;
          font-size: 1.4rem;
          line-height: 1.7rem;
          padding-left: 1.2rem;
        }
      }

      .loading {
        animation: move 5s linear infinite;
        background-image: -webkit-gradient(
            linear,
            0 0,
            100% 100%,
            color-stop(0.125, rgba(0, 0, 0, 0.15)),
            color-stop(0.125, transparent),
            color-stop(0.25, transparent),
            color-stop(0.25, rgba(0, 0, 0, 0.1)),
            color-stop(0.375, rgba(0, 0, 0, 0.1)),
            color-stop(0.375, transparent),
            color-stop(0.5, transparent),
            color-stop(0.5, rgba(0, 0, 0, 0.15)),
            color-stop(0.625, rgba(0, 0, 0, 0.15)),
            color-stop(0.625, transparent),
            color-stop(0.75, transparent),
            color-stop(0.75, rgba(0, 0, 0, 0.1)),
            color-stop(0.875, rgba(0, 0, 0, 0.1)),
            color-stop(0.875, transparent),
            to(transparent)
          ),
          -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.125, rgba(0, 0, 0, 0.3)), color-stop(0.125, transparent), color-stop(0.25, transparent), color-stop(0.25, rgba(0, 0, 0, 0.25)), color-stop(0.375, rgba(0, 0, 0, 0.25)), color-stop(0.375, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(0, 0, 0, 0.3)), color-stop(0.625, rgba(0, 0, 0, 0.3)), color-stop(0.625, transparent), color-stop(0.75, transparent), color-stop(0.75, rgba(0, 0, 0, 0.25)), color-stop(0.875, rgba(0, 0, 0, 0.25)), color-stop(0.875, transparent), to(transparent));
        background-size: 7rem 7rem;
        height: 100%;
      }
    }
  }
  .update-container {
    display: flex;
    flex-grow: 1;
    margin-left: 1rem;
    text-align: right;

    .update-text {
      flex: 1 1 auto;
      font-size: 1.2rem;
      line-height: 1.8rem;
      text-align: left;
      background-color: red;
      &.time {
        font-size: 1.1rem;
      }
    }
    .icon {
      flex: 1 0 auto;
      margin: 0.3rem 0 0 0.6rem;
      width: 1.2rem;
      height: 1.2rem;
      &.update {
        background: center / contain no-repeat url(../../assets/icons/update.svg);
      }
      &.time {
        background: center / contain no-repeat url(../../assets/icons/time.svg);
      }
    }
  }
}

@keyframes move {
  0% {
    background-position: 100% -7rem;
  }
  100% {
    background-position: 100% 7rem;
  }
}
